@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bangers';
    src: url('@/assets/fonts/Bangers/Bangers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .bangers-font {
  font-family: 'Bangers', sans-serif;
  }

@font-face {
    font-family: 'HennyPenny';
    src: url('@/assets/fonts/Henny_Penny/HennyPenny-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .henny-penny-font {
  font-family: 'HennyPenny', sans-serif;
  @apply tracking-wider
  }

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.roboto-font {
font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  }
.montserrat-font {
font-family: 'Montserrat', sans-serif;
}




.img-gallery img {
  @apply rounded-xl;
}